html * {
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0px;
}

#title {
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 2em;
  cursor: pointer;
}

header {
  position: relative;
  top: 0px;
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  padding-top: 20px;
  background: url(images/stardust.png);
  padding-bottom: 10px;
  color: white;
  box-shadow: 0px 5px 10px rgb(68, 67, 73);
}

#search-bar {
  font-size: 2em;
  bottom: 0px;
  width: 400px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

#account-buttons {
  padding: 1px;
  vertical-align: 4px;
}

#sign-up, #log-in, input[type=submit] {
  text-decoration: none;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #222;
  padding: 8px;
  margin-left: 10px;
  font-size: 1.5em;
  font-weight: bold;
  background: #00509d;
  background: -webkit-linear-gradient(#4479bc, #00509d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4479bc, #00509d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4479bc, #00509d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4479bc, #00509d); /* Standard syntax */
  color: white;
  border: 0px;
}

#sign-up:hover, #log-in:hover, button:hover, input[type=submit]:hover {
  text-shadow: 0px 0px 0px #222;
  background: #00509d;
  color: white;
}

article {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

/*********************** TUTOR & PRODUCT *******************************/
section {
  width: 700px;
  margin: 0px auto;
}
#name {
  font-size: 2em;
  padding: 0px 1em;
  font-weight: bold;
}
#image {
}
#description {
}
#buy, #request {
  display: block;
  text-align: center;
  background: rgb(147, 212, 147);
  border-radius: 3px;
  padding: 0.2em 1em;
  cursor: pointer;

  background: rgb(44, 206, 44);
  background: -webkit-linear-gradient(rgb(44, 206, 44), rgb(0, 180, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(44, 206, 44), rgb(0, 180, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(44, 206, 44), rgb(0, 180, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(44, 206, 44), rgb(0, 180, 0)); /* Standard syntax */
  border: 1px solid rgb(102, 211, 101);
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  box-shadow: 1px 1px 2px black;
  -webkit-transition: background 0.5s; /* webkit */
  transition: background 0.5s;
}
#rating {
  color: #dddd00;
  padding-right: 2em;
  bottom: 0px;
  left: 108px;
}
#buy:hover:active, #request:hover:active {
  background: rgb(0, 180, 0);
  background: -webkit-linear-gradient(rgb(0, 180, 0), rgb(44, 206, 44)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(0, 180, 0), rgb(44, 206, 44)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(0, 180, 0), rgb(44, 206, 44)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(0, 180, 0), rgb(44, 206, 44)); /* Standard syntax */
  text-shadow: 0px 0px 0px black;
}
#buy:hover, #request:hover {
  text-shadow: 0px 0px 0px black;
  background: rgb(0, 180, 0);
}
#buy:before {
  content:'purchase now \A$';
  white-space:pre;
}
#request:before {
  content:'request to schedule now \A$';
  white-space:pre;
}
#request:after {
  content:' per hour';
}
#request.disable {
  background: rgb(155,155,155);
  border: 0px solid black;
  color: rgb(230, 230, 230);
}
#amazon {
  margin-top: 2em;
  font-size: 0.95em;
  font-style: italic;
  height: 3em;
}
#image {
  width: 400px;
}
.amazon_img {
  height:40px;
  float:left;
  padding-right:1em;
}


#schedule {
  border-collapse: collapse;
  margin: 10px;
}

#schedule * td, #schedule * th{
  width: 85px;
  border: 2px solid rgb(190, 190, 190);
  padding: 0px;
}
.request-hour {
  background: rgb(94, 238, 94);
}
.open-hour {
  background: white;
}
.blocked-hour{
  background: rgb(140, 140, 140);
}
